body {
    margin: 0%;
}
header {
    background-color: #283618;
}
#content {
    max-width: 1600px;
    margin: 0% auto;
}
nav a {
    text-align: center;
    color: #bc6c25;
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: wheat;
}
nav a:hover {
    background-color: wheat;
}
.home-title {
    color: black;
}
.book, .join {
    background-color: #283618;
    color: #bc6c25;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: wheat;
}
.msg {
    background-color: #606c38;
}
.msg h2 {
    color: wheat;
}
.msg p {
    color: wheat;
}
footer {
    color: #bc6c25;
    background-color: #283618 ;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
footer a {
    color: #bc6c25;
    text-decoration: none;
}
footer a:hover {
    background-color: wheat;
    text-decoration: underline;
}
.icon {
    width: 80px;
}
